[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tensorflow = "==1.9"
gym = {version = "*",extras = ["box2d", "mujoco"]}
parasol = {path = ".",editable = true}
jupyter = "*"
path-py = "*"
ipdb = "*"
matplotlib = "*"
opencv-python = "*"
tqdm = "*"
mujoco-py = "==1.50.1.68"
seaborn = "*"
pygame = "*"
sklearn = "*"
notebook = ">=5.7.2"
kfac = "*"
fabric = "*"
"boto3" = "*"
pandas = "*"
gps = {git = "https://github.com/sharadmv/gps.git",editable = true}
click = "*"
deepx = "==0.4.10"

[requires]
python_version = "3.6"
